:root {
  --plaza-purple: #146B86;        /* morado principal */
  --plaza-purple-dark: #5E1453;  /* morado oscuro */
  --plaza-gold: #F2C94C;         /* dorado */
  --plaza-white: #FFFFFF;        /* blanco */
}
